[Desktop Entry]
Type=Application
Name=DataSearch
GenericName=Analisis de datos
Comment=Extraccion, filtrado, analisis y visualizacion de datos
Exec={{exec}}
Icon={{icon}}
Terminal=false
Categories={{categories}}
Keywords=datos;sql;analisis;dashboard;excel;pdf;base de datos;consulta;informe;
StartupNotify=true
StartupWMClass={{exec}}
X-GNOME-UsesNotifications=false
